<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/client-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>client.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
        </encoder>
    </appender>
<!--    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>localhost:5000</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
<!--            <providers>-->
<!--                <mdc />-->
<!--                <context />-->
<!--                <logLevel />-->
<!--                <loggerName />-->
<!--                <pattern>-->
<!--                    <pattern>-->
<!--                        {-->
<!--                            "appName": "client-service"-->
<!--                        }-->
<!--                    </pattern>-->
<!--                </pattern>-->
<!--                <threadName />-->
<!--                <message />-->
<!--                <logstashMarkers />-->
<!--                <stackTrace />-->
<!--            </providers>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">-->
<!--        <layout>-->
<!--            <pattern>-->
<!--                {-->
<!--                "time": "%date{ISO8601}",-->
<!--                "thread": "%thread",-->
<!--                "level": "%level",-->
<!--                "class": "%logger{36}",-->
<!--                "message": "%message"-->
<!--                }-->
<!--            </pattern>-->
<!--        </layout>-->
<!--        <host>localhost</host>-->
<!--        <port>5672</port>-->
<!--        <username>guest</username>-->
<!--        <password>guest</password>-->
<!--        <applicationId>client-service</applicationId>-->
<!--        <routingKeyPattern>client-service</routingKeyPattern>-->
<!--        <declareExchange>true</declareExchange>-->
<!--        <exchangeType>direct</exchangeType>-->
<!--        <exchangeName>ex_logstash</exchangeName>-->
<!--        <generateId>true</generateId>-->
<!--        <charset>UTF-8</charset>-->
<!--        <durable>true</durable>-->
<!--        <deliveryMode>PERSISTENT</deliveryMode>-->
<!--    </appender>-->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
<!--        <appender-ref ref="STASH" />-->
<!--        <appender-ref ref="AMQP" />-->
    </root>
</configuration>